:root {
    --color-text: #212121;
    --color-second-text: #757575;
    --focus-color: #2196F3;
    --secondary-font: "Raleway", sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}
a {
    text-decoration: none;
    font-style: normal;
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.visited {
    color: var(--focus-color);
}
.navigation-link:hover,
.navigation-link:focus {
    color: var(--focus-color);
}
.mail-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--color-second-text);
}
.mail-link:hover,
.mail-link:focus {
    color: var(--focus-color);
    text-decoration: underline;
}
.tel-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--color-second-text);
}
.tel-link:hover,
.tel-link:focus {
    color: var(--focus-color);
    text-decoration: underline;
}
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text);
}
.web-logo {
    color: var(--focus-color);
}

.top-title
{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0 auto;
    /* color: #FFFFFF; */
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--focus-color);
    border-radius: 4px;
    text-align: center;
}
.description-top {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin: auto;
    padding: auto;
}
.ds-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-second-text);
}
.top-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-text);
    margin: auto;
    padding: auto;
}
.comand {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-text);
    margin: auto;
    padding: auto;
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--color-text);
    margin: auto;
    padding: auto;
}
.prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-second-text);
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.adress-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: #ffff;
    /*color: #FFFFFF; */
}
.mail-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-second-text);
}
.tel-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-second-text);
}
.web-logo2 {
    color: #ffff;
}
.top-title {
    color: #FFFFFF;
}
.background-color {
    background: #2F303A;
}
.foter-color {
    background: #2F303A;
}
.cards-color {
    background: #F5F4FA;
}